<h1>Rental Info for <%= @cat_rental.cat.name %></h1>

<table>
  <tr>
    <td>Start Date:</td><td> <%= @cat_rental.start_date %> </td>
  </tr>
  <tr>
    <td>Start Date:</td><td> <%= @cat_rental.end_date %> </td>
  </tr>
</table>

<%= link_to "Back to cat", cat_url(@cat_rental.cat) %>
