<h1>Cat Society</h1>

<p> <%= link_to "Create a New Cat", new_cat_url %></p>

<p><%= link_to "Make a reservation", new_cat_rental_request_url, method: :get %></p>

<ul>
  <% @cats.each do |cat| %>
    <li>
      <a href="<%= cat_url(cat) %>"><%= cat.name %></a>
    </li>
  <% end %>
</ul>
