<h1> Create a New Cat </h1>

<form action="<%= cats_url %>" method="post">
  <p>Name:</p>
  <p><input type="text" name="cat[name]" value="Your cat's name"></p>

  <p>Birthdate:</p>
  <p><input type="date" name="cat[birth_date]"</p>

  <p><input type="radio" name="cat[sex]" value="M"> Male</p>
  <p><input type="radio" name="cat[sex]" value="F"> Female</p>

  <p>Color:
    <select name="cat[color]">
    <option></option>
    <option>grey</option>
    <option>black</option>
    <option>white</option>
    <option>brown</option>
    <option>orange</option>
    </select>
  </p>

  <p>Description</p>
  <p><textarea rows="5" cols="20" name="cat[description]">description</textarea></p>



  <input type="submit">
</form>
